QDialog * {
    font-family: arial;
}

QDialog > QFrame {
    background-color: #808080;
    border-radius: 10px;
}

#welcomeFrame {
    background-color: white;
    border-radius: 10px;
}

WelcomeScreen *, ProjectScreen * {
    border: 0px;
}

#toolbarOverview, #toolbarSections, #toolbarDraft, #toolbarGraph, ToolButton {
    background-color: #092957;
}

#titleOverview, #titleSections, #titleDraft, #titleGraph {
    color: #fff;
}

#buttonClose {
    background-color: #fff;
}